body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.content {
  width: 70%;
  height: 210px;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.fill {
    background-image:url('http://source.unsplash.com/random/200x200');
    position: relative;
    height:188px;
    width:188px;
    top:1px;
    left:1px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height:190px;
    width:190px;
    margin:10px;
    border:3px #969696 solid;
    background-color: aliceblue;
}

.hold {
    border:solid #ccc 4px;
}

.hovered {
    background:#f4f4f4;
    border-style: dotted;
}

.invisible {
    display:none;
}